/* *{
    background-color: black;
} */

@media screen and (max-width: 480px){
    .timer div:last-child {
        margin-left: 2em;
        margin-right: 2em;
        padding: 3em 1em;
    }
    } 

