*{
    box-sizing: border-box;
     margin: 0; 
    padding: 0;
    
   
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 580px;
    left: 40px;
    color: white;

   

    
}

.info{
    
    background-color: black;
    font-family: "Poppins";
    /* padding-left: 20px; */
    font-size: 30px;
    /* background-image: url("/public/login3 (1).jpg"); */
    
 


}


/* ABOUT SUMMER SCHOOL Card */

.about{

    /* justify-items: auto; */
  
    background-color: rgba(19, 19, 19, 0.488);
  
    text-align: center;

    display: flex;

    flex-direction: column;
  
    align-items: center;

    justify-content: center;

    border: 10px;
  
    font-size: 20px;
  
    border-color: black;
  
    box-shadow: 5px;
  
    box-shadow: grey;
  
    border-radius: 10px;
  
    box-shadow: 0 2px 20px rgb(208, 203, 203);
  
    width: 100%;

    /* margin: 200px; */

    position: relative;

    top: 100px;

    right: 130px;

    color: white;
  
    /* margin-left: 100px;
    margin-right: 100px; */

    /* padding: 50px; */

    
  
    /* height: 120px; */
  
    font-family: Poppins;
  
    transition: transform 200ms ease-in;
  
   
  
  }


  .about:hover {

    transform: scale(1.1);
    cursor: pointer;
  
  }
  
  
  
  
  .abt{
  
    text-align: center;

    padding-left: 250px;

    height: 600px;
  
  }
  
  
  
  .aboutcard__body{
  
   
  
    text-align: center;
  
  
  
  }
  
  
  
  
  .aboutcard__title{
  
     padding-top: 20px;
     font-size: 2em;
  
    /*padding-bottom: -5px; */
  
   
  
  
  
  }
  
  
  
  
  
  
  
  .aboutcard__description{
  
  padding-top: -20px;
  
  font-weight: bold;

  color: white;

  height: 300px;
  font-size: 20px;
 
 
  
  }


  .content_info{
      justify-content: inherit;
       
  }


  .li_border{

    /* border: solid gray;
    background-color: gray;
    border-radius: 10em; */

  }



img{

   
    width: 700px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    /* height: 500px; */
   
    /*position: relative;
   
    /* top: -370px;
    left: 750px; */
    /* margin-right: 20px; */
    
}



body{
    font-family: Poppins;
    font-size: 100%;
    background-color: black;
    
    
}



.timer-container{
       
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 120vh;
    color: white;
    background-color: black;
}

.timer{
    background-color: black;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 10px;
    width: 100%;
    height: 100%; 
    margin-top: -15em;
    /* background-image: url(https://i.gifer.com/37F0.gif);
         */

    background-image: url(https://media.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy-downsized-large.gif); 
     
      
      /*background-image: url(/public/bg.jpg); */
     background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    
} 

.timer div :first-child{
    text-align: center;
    
}

h2{
    font-weight:bold;
    margin-bottom: 40px;
    font-family: Poppins;
    font-size: 56px;
    font-style: italic;
}



.timer div:last-child{
    border: 1px solid wheat;
    font-style: bold;
    
    font-size: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 1em;
    padding: 3em;
    text-align: center;
}
section p:first-child, .timer div:last-child span {
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 480px){
.timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
}
} 


