

.footer{
    display: flex;
    /* position: fixed; */
    list-style: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: inherit;
    font-size: 15px;
    /* padding: 34px 273px; */

  }

  .footer1{
     list-style: none;
     margin: 50px 170px;
}
    


  
  .footer2{
    list-style: none;
    margin: 50px 41px;

  }

  .footer3{
    list-style: none;
    margin: 50px 121px;

  }

  .list{
    font-weight: lighter;
    margin:10px;
  }

  .listhead{
    font-size: larger;
    font-weight: bold;
  }

  .social{
    margin: 10px 18px;
  }

  .email{
    margin: 3px 10px;
  }

  .title_head{
    text-align: center;
    margin-top: 40px;
  }